<!DOCTYPE html>
<html>
<head>
</head>
<body>
{{if .}}
    {{if .FirstName}}
        <p>First Name: {{.FirstName}}</p>
    {{end}}
    {{if .LastName}}
        <p>Last Name: {{.LastName}}</p>
    {{end}}
{{end}}

<form action="/form-submission" method="post">
<label for="name">First Name:</label>
<input type="text" id="fname" name="fn">
<label for="name">Last Name:</label>
<input type="text" id="lname" name="ln">
<button type="submit">Submit</button>

</form>
</body>
</html>